<html>
	<head>
		<link rel="stylesheet" href="bootstrap.css">
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
		<script src="bootstrap.js"></script>
	</head>
	<body>
		<!--NavBar-->
		

		<!--Jumbotron-->

		<div class="jumbotron" id="main">
			<nav class="navbar navbar-dark bg-transparant navbar-expand-lg">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">NastyNile</a>
				</div>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Pictures</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
				</ul>
		</nav>
			<h1>Nile's Site</h1>
			<p>Welcome to the site Created By Nile all from scratch. This site will grow as I grow</p>
		</div>

		<!--Cards-->
		<div class="container-fluid padding">
			<div class="row padding" style="text-align: center;">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Blog</h3>
							<p class="card-text">
								Here is where I will post about things going on with my life inside and outside of my career space. I'm not sure how often i'll post but hey... Gotta love content.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Pictures</h3>
							<p class="card-text">
								Look at some photos taken or created by me, or for me, or of me. I want to learn how to make things visually apealling. It's one of the things that would make me stronget towards marketing. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<h3 class="card-title">Projects</h3>
							<p class="card-text">Take a look at some of the projects I've done over my programming years. I started programming my junior year of highschool of 2015 just learning HTML. Look at the progress over the years.</p>
						</div>
					</div>
				</div>
				</div>
		
		</div>

		<!--Social Media-->

		<!--Footer-->
		<footer>
		<div class="container-fluid">
		<h1>Nan</h1>
		</div>
		</footer>
	</body>
</html>